<aside [ngClass]="collapsed ? 'w-16 p-2' : 'w-48 p-4'" class="h-screen bg-white shadow-lg flex flex-col transition-all duration-300">
  <div class="flex flex-col items-center py-4 mb-8">
    <img src="favicon-32x32.png" alt="Garage Auto Logo" class="mb-4 h-8 w-8 mx-auto">
    <span *ngIf="!collapsed" class="text-3xl font-light text-[#DEE33E]">Gara<span class=" text-black font-bold">Auto</span></span>
  </div>

  <nav class="flex-grow">
    <ul>
      <li>
        <a *ngFor="let feature of features;"
            (click)="onFeatureClick(feature.name)"
            [routerLink]="['/' + feature.name.toLowerCase()]"
            routerLinkActive="bg-[#DEE33E]"
           class="flex items-center p-3 text-base font-normal text-black-600 rounded-lg hover:bg-[#DEE33E] hover:font-bold group">
          <mat-icon svgIcon="{{feature.icon}}"></mat-icon>
          <span *ngIf="!collapsed" class="ml-3">{{feature.name}}</span>
        </a>
      </li>
      </ul>
  </nav>
  <div>
    <button (click)="onLogout()" class="flex items-center p-3 text-base font-normal text-black-600 rounded-lg hover:bg-[#DEE33E] hover:font-bold group w-full">
      <mat-icon svgIcon="logout"></mat-icon>
      <span *ngIf="!collapsed" class="ml-3">Logout</span>
    </button>
  </div>
</aside>