<div class="flex items-center gap-4 mb-4">
  <div class="flex-grow">
    <div class="relative">
      <div class="absolute p-1 inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <mat-icon svgIcon="search"></mat-icon>
      </div>
      <input type="text"
        placeholder="Search..."
        class="h-12 w-full pl-10 pr-4 py-2 border border-gray-200 rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-blue-200 bg-[#F5F8FA]"
        [ngModel]="searchText"
        (ngModelChange)="onSearchChange($event)"
      >
    </div>
  </div>
</div>
