<app-confirm-model
  [open]="showDeleteConfirm"
  title="Delete Vehicle?"
  message="Are you sure you want to delete this vehicle? This action cannot be undone."
  confirmText="Delete"
  cancelText="Cancel"
  confirmClass="bg-red-500 hover:bg-red-600 text-white"
  cancelClass="bg-gray-200 hover:bg-gray-300 text-gray-900"
  (confirmed)="confirmDelete()"
  (cancelled)="cancelDelete()">
</app-confirm-model>
<app-loading *ngIf="loadingService.loading$ | async" class="z-[10000]"></app-loading>
<div class="flex flex-col min-w-full ">
    <div class="flex flex-col  ">
      <div class="flex flex-row justify-between">
        <div class="flex items-center justify-center bg-white py-2 px-4 rounded-lg">Show: <span class="font-bold">All </span> 
        <button class="hover:bg-gray-200 w-5 h-6 ">
            <mat-icon svgIcon="arrow_drop_down"></mat-icon>
        </button>
        </div>
        <button (click)="openCreateModal()" class="w-full sm:w-auto bg-white rounded-lg  font-semibold py-2 px-4  shadow-sm hover:bg-gray-200 flex items-center justify-center gap-2">
            <mat-icon svgIcon="add"></mat-icon>
                Add Vehicle
                </button>
      </div>
    </div>
  <div class="flex flex-col bg-white mb-4 mt-4">
      <div class="mb-4 p-4">
    <app-common-filter-bar
      [searchText]="searchText"
      (searchChange)="onSearchChange($event)"
      (filterChange)="selectFilter($event)">
    </app-common-filter-bar>
      <app-common-table
        [columns]="tableColumns"
        [data]="displayData"
        [sortColumn]="sortColumn"
        [sortOrder]="sortOrder"
        [paginationArray]="paginationArray"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        [pageSize]="pageSize"
        (sort)="changeSort($event)"
        (pageChange)="changePage($event)"
        (pageSizeChange)="pageSize = $event; changePage(1)"
        (action)="handleTableAction($event)">
      </app-common-table>

      <div *ngIf="isCreateModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50" (click)="closeModal('create', false)">
        <div class="bg-gray-100 rounded-lg shadow-2xl w-full max-w-2xl max-h-[120vh] " (click)="$event.stopPropagation()">
          <app-add-vehicle (closed)="closeModal('create', $event)"></app-add-vehicle>
        </div>
      </div>
      <div *ngIf="isDetailModalOpen" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50" (click)="closeModal('detail')">
        <div class="bg-gray-100 rounded-lg shadow-2xl w-full max-w-2xl max-h-[120vh] " (click)="$event.stopPropagation()">
          <app-vehicle-detail (closeModalRequest)="closeModal('detail')" (editRequest)="onVehicleEdited($event)" [vehicleId]="selectedId"></app-vehicle-detail>
        </div>
      </div>
    </div>
</div>
