<div class="w-full">
  <div class=" flex items-center justify-between pb-4 bg-gray-100">
    <div class="relative bg-white w-1/6 h-11 flex items-center justify-center">
      <span class="text-base">Show:</span>
      <span class="text-base">All part</span>
      <mat-icon svgIcon="arrow_drop_down"></mat-icon>
    </div>
    <button
      class="flex items-center justify-center w-2/12 h-11 bg-white text-sm font-medium text-gray-700  shadow-sm hover:bg-gray-50">
      <mat-icon svgIcon="add"></mat-icon>
      <span class="text-base">Add new tenant</span>
    </button>
  </div>
  <div class="flex items-center justify-between p-4 bg-white ">
    <div class="relative w-11/12">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterData()"
        placeholder="Search by name, email, or others..."
        class="h-12 w-full pl-10 pr-4 py-2 border border-gray-300 rounded-2xl text-base focus:outline-none focus:ring-2 focus:ring-blue-300 bg-gray-100" />
      <mat-icon svgIcon="search" class="absolute left-3 top-2.5 w-4 h-9"></mat-icon>
    </div>

    <div class="relative ">
      <button (click)="isFilterOpen = !isFilterOpen"
        class="flex items-center justify-center h-12 w-30 ml-4 px-4 py-2 text-base text-gray-600 border border-gray-300 rounded-2xl bg-gray-100 hover:bg-gray-300">
        <mat-icon class="w-4 h-4" svgIcon="tune"></mat-icon>
        <span> {{ selectedField ? selectedField.charAt(0).toUpperCase() + selectedField.slice(1) : 'Filters' }}</span>

      </button>

      <!-- Dropdown -->
      <div *ngIf="isFilterOpen"
        class="absolute right-4 top-full mt-2 w-auto bg-white border rounded-xl border-gray-200 shadow z-20">
        <button (click)="selectField('')" class="block min-w-full text-center px-4 py-2 hover:bg-gray-100">None
          Filter</button>
        <button (click)="selectField('name')"
          class="block min-w-full text-center px-4 py-2 hover:bg-gray-100">Name</button>
        <button (click)="selectField('address')"
          class="block min-w-full text-center px-4 py-2 hover:bg-gray-100">Address</button>
        <button (click)="selectField('owner')"
          class="block min-w-full text-center px-4 py-2 hover:bg-gray-100">Email</button>
      </div>

    </div>
  </div>
  <div class="overflow-y-auto max-h-[calc(94vh-300px)]">
    <table class="min-w-full boder border-double ">
      <thead class="sticky top-0 z-10 bg-white border border-gray-100 shadow ">
        <tr>
          <th class="h-13 px-4 py-2 text-base text-center text-gray-700">STT</th>
          <th *ngFor="let header of headers" (click)="sortBy(header)"
            class="text-center px-4 py-2 text-base text-gray-700">
            <div class="flex items-center justify-center cursor-pointer">
              <span>{{header}}</span>
              <ng-container>
                <ng-container *ngIf="getSortKey(header) === sortColumn; else defaultSortIcon">
                  <ng-container [ngSwitch]="sortDirection">
                    <span *ngSwitchCase="'asc'"> <mat-icon svgIcon="arrow_drop_up"></mat-icon></span>
                    <span *ngSwitchCase="'desc'"><mat-icon svgIcon="arrow_drop_down"></mat-icon></span>
                    <span *ngSwitchDefault> <mat-icon svgIcon="swap_vert"></mat-icon></span>
                  </ng-container>
                </ng-container>
                <ng-template #defaultSortIcon>
                  <mat-icon svgIcon="swap_vert"></mat-icon>
                </ng-template>
              </ng-container>
            </div>
          </th>
          <th class="px-4 py-2 text-base text-center text-gray-700">Action</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 bg-white text-base text-black text-center  ">
        <tr *ngFor="let row of paginatedGaras; let i = index" class="relative">
          <td class="h-13 px-6 py-2 text-base cursor-pointer"><span>{{ (currentPage - 1) * pageSize + i + 1 }}</span>
          </td>
          <td class="px-4 py-2 text-base"><span>{{row.name}}</span></td>
          <td class="px-4 py-2 text-base"><span>{{row.address}}</span></td>
          <td class="px-4 py-2 text-base"><span>{{row.email}}</span></td>
          <td class="px-4 py-2 text-base "><a (click)="openDetail(row.tenantId)"
              class=" hover:text-yellow-300 underline cursor-pointer">Detail</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex items-center justify-between p-4 min-w-full bg-white">
    <!-- Select page size (tùy chọn) -->
    <div class="text-sm text-gray-600">
      Show result:
      <select [(ngModel)]="pageSize" (change)="changePage(1)"
        class="ml-2 border border-gray-300 rounded px-2 py-1 text-sm">
        <option *ngFor="let size of [5,10,15]" [value]="size">{{ size }}</option>
      </select>
    </div>

    <!-- Pagination controls -->
    <div class="flex items-center space-x-1">
      <button (click)="changePage(currentPage - 1)"
        class="w-8 h-8 flex items-center justify-center border rounded-full text-gray-600 hover:bg-gray-200 disabled:opacity-50">
        <mat-icon svgIcon="arrow_left"></mat-icon>

      </button>

      <ng-container *ngFor="let page of paginationArray">
        <button (click)="changePage(page)" [ngClass]="{
                'bg-black text-white': currentPage === page,
                'text-gray-600 hover:bg-gray-200': currentPage !== page
              }" class="w-8 h-8 flex items-center justify-center border rounded-xl text-sm font-medium">
          {{ page }}
        </button>
      </ng-container>

      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages"
        class="w-8 h-8 flex items-center justify-center border rounded-full text-gray-600 hover:bg-gray-200 disabled:opacity-50">
        <mat-icon svgIcon="arrow_right"></mat-icon>

      </button>
    </div>
  </div>
</div>
<app-gara-detail [open]="detailOpen" [gara]="selectedGara" (closed)="onDetailClosed()">
</app-gara-detail>