<div class="flex flex-col min-w-full">
    <div class="flex flex-col">
        <div class="flex flex-row justify-end">
            <button (click)="openAdd()" class="flex items-center justify-center w-2/12 h-11 bg-white text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50">
                <mat-icon svgIcon="add"></mat-icon>
                <span class="text-base">Add new tenant</span>
            </button>
        </div>
    </div>
    <div class="flex flex-col bg-white mb-4 mt-4">
        <div class="mb-4 p-4">
            <app-common-filter-bar [searchText]="searchText" (searchChange)="onSearchChange($event)"> </app-common-filter-bar>
            <app-common-table
                [columns]="tableColumns"
                [data]="displayData"
                [sortColumn]="sortColumn"
                [sortOrder]="sortOrder"
                [paginationArray]="paginationArray"
                [currentPage]="currentPage"
                [totalPages]="totalPages"
                [pageSize]="pageSize"
                (sort)="changeSort($event)"
                (pageChange)="changePage($event)"
                (pageSizeChange)="pageSize = $event; changePage(1)"
                (action)="handleTableAction($event)"
            >
            </app-common-table>
        </div>
    </div>
</div>
<app-gara-detail [open]="detailOpen" [gara]="selectedGara" (closed)="onDetailClosed()"> </app-gara-detail>
<app-add-gara *ngIf="addOpen" (closed)="onAddClosed()"> </app-add-gara>
<app-loading *ngIf="loadingService.loading$ | async" class="z-[10000]"></app-loading>
<app-confirm-model
    [open]="openDelete"
    [title]="'Delete'"
    [message]="'Bạn có chắc chắn muốn xoá gara này không?'"
    [confirmText]="'Xoá'"
    [cancelText]="'Huỷ'"
    (confirmed)="onConfirmDelete()"
    (cancelled)="onCancelDelete()"
>
</app-confirm-model>
