<div class="fixed inset-0 z-50 flex items-center justify-center">
    <div class="absolute inset-0 bg-black/50" (click)="close()"></div>

    <div
        class="relative z-10 rounded-lg bg-gray-100 p-6 shadow-xl w-[54vw] max-w-[1000px] max-h-[95vh] overflow-y-auto">
        <div class="flex items-center justify-between border-b border-gray-200 pb-3 mb-4">
            <h2 class="text-2xl font-extrabold text-[#DEE33E]">Add Gara</h2>
            <button class="mb-0.5" (click)="close()">
                <mat-icon svgIcon="exit_to_app"></mat-icon>
            </button>
        </div>

        <form [formGroup]="formAdd" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div *ngFor="let f of fields" class="flex flex-col">
                <label class="text-sm font-medium text-gray-600 mb-1">{{ f.label }}</label>

                <input *ngIf="f.type === 'text'|| f.type === 'email' || f.type === 'tel'" [formControlName]="f.name"
                    [placeholder]="f.placeholder"
                    class="form-input border rounded-2xl px-3 py-2 font-medium border-gray-300 focus:ring-2 focus:ring-yellow-500 bg-white"
                    [class.border-red-500]="showError(f.name)"
                    [class.border-green-500]="!showError(f.name) && formAdd.get(f.name)?.value" />


                <textarea *ngIf="f.type === 'textarea'" rows="3" [formControlName]="f.name"
                    class="border rounded-2xl px-3 py-2 font-medium border-gray-300 focus:ring-2 focus:ring-yellow-400 bg-white resize-none"
                    [placeholder]="f.placeholder" [class.border-red-500]="showError(f.name)"
                    [class.border-green-500]="!showError(f.name) && formAdd.get(f.name)?.value"></textarea>
                <select *ngIf="f.type === 'select'" [formControlName]="f.name"
                    class=" border rounded-xl px-3 py-2 font-medium border-gray-300 focus:ring-2 focus:ring-yellow-400 bg-white "
                    [class.border-red-500]="showError(f.name)">
                    <option [ngValue]="null" class="text-gray-400">
                        {{ f.placeholder || 'Chọn một giá trị' }}
                    </option>
                    <option *ngFor="let opt of f.options" [ngValue]="opt.value">{{ opt.label }}</option>
                </select>

                <p *ngIf="showError(f.name)" class="mt-1 text-xs text-red-600">
                    {{ getError(f.name) }}
                </p>
            </div>

            <div class="col-span-1 md:col-span-2 flex justify-end space-x-3 pt-2">
                <button type="button" (click)="close()"
                    class=" rounded-lg bg-gray-300 hover:bg-gray-400 px-4 py-2 text-sm font-medium">
                    Cancel
                </button>
                <button type="submit" [disabled]="formAdd.invalid"
                    class="rounded-lg bg-[#DEE33E] hover:bg-yellow-200 px-4 py-2 text-sm font-medium text-black disabled:opacity-60">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>