<div *ngIf="open" class="fixed inset-0 z-50 flex items-center justify-center">
    <div class="absolute inset-0 bg-black/50" (click)="close()"></div>
    <div class="relative z-10 rounded-lg bg-gray-100 p-6 shadow-xl w-[54vw] max-w-[1000px] max-h-[95vh]">
        <div class="flex items-center justify-between">
            <div>
                <h1 class="text-3xl font-bold text-gray-800">{{ partSelected.name }}</h1>
                <p class="text-gray-500">
                    Gara: <span class="font-semibold text-gray-700">{{ partSelected.tenant?.name || 'none' }}</span>
                </p>
            </div>
            <div class="flex items-center space-x-3">
                <button *ngIf="!isEditMode" class="rounded-lg bg-[#DEE33E] px-4 py-2 text-sm font-medium text-black hover:bg-yellow-200" (click)="onEditClick()">Edit</button>
                <button *ngIf="!isEditMode" (click)="openConfirmModel()" class="rounded-lg bg-red-400 px-4 py-2 text-sm font-medium text-black hover:bg-red-400">Delete</button>
                <button class="mb-0.5" (click)="close()">
                    <mat-icon svgIcon="exit_to_app"></mat-icon>
                </button>
            </div>
        </div>
        <div *ngIf="form" [formgroup]="form" (ngSubmit)="onFormSubmit()"></div>
        <div class="rounded-lg bg-white p-4 shadow">
            <div class="border-b border-gray-200 px-4">
                <nav class="-mb-px flex items-center justify-between space-x-6">
                    <a class="border-b-2 border-yellow-200 px-1 py-3 text-sm font-medium text-[#DEE33E]"> Gara Info </a>
                    <div *ngIf="isEditMode" class="flex space-x-2">
                        <button type="submit" [disabled]="form.invalid" class="rounded-lg bg-[#DEE33E] px-4 py-2 text-sm font-medium text-black hover:bg-yellow-200">Save</button>
                        <button type="button" (click)="onCancelEdit()" class="rounded-lg bg-gray-200 px-4 py-2 text-sm font-medium text-black hover:bg-gray-400">Cancel</button>
                    </div>
                </nav>
            </div>
            <div class="px-4 py-5 overflow-auto">
                <div class="grid grid-cols-1 gap-x-6 gap-y-4 text-sm md:grid-cols-2">
                    <div *ngFor="let field of fields" class="flex flex-col">
                        <label class="text-gray-500">{{ field.label }}</label>
                        <ng-container *ngIf="!isEditMode; else editField">
                            <ng-container *ngIf="field.name === 'is_active'; else normalView">
                                <div class="flex items-center gap-6">
                                    <label
                                        class="inline-flex items-center gap-2"
                                        [ngClass]="field.value === true ? 'border-green-300 bg-green-50 text-green-800' : 'border-slate-200 text-slate-600'"
                                    >
                                        <input disabled type="radio" [checked]="field.value === true" />
                                        <span class="font-semibold">Active</span>
                                    </label>

                                    <label
                                        class="inline-flex items-center gap-2"
                                        [ngClass]="field.value === false ? 'border-red-300 bg-red-50 text-red-800' : 'border-slate-200 text-slate-600'"
                                    >
                                        <input disabled type="radio" [checked]="field.value === false" />
                                        <span class="font-semibold">Inactive</span>
                                    </label>
                                </div>
                            </ng-container>

                            <ng-template #normalView>
                                <span class="font-semibold">{{ field.value }}</span>
                            </ng-template>
                        </ng-container>
                        <ng-template #editField> </ng-template>
                    </div>
                </div>
                <app-loading *ngIf="loadingService.loading$ | async" class="z-[10000]"></app-loading>
            </div>
        </div>
    </div>
</div>
