<app-common-dialog [title]="'Add Work Order'" [show]="true" [showClose]="true" (closed)="close()" [width]="'54vw'" [maxWidth]="'1000px'" [maxHeight]="'95vh'">
    <form [formGroup]="formAdd" (ngSubmit)="onSubmit()" id="addFormPart" class="grid grid-cols-1 md:grid-cols-2 gap-6" dialog-content>
        <div *ngFor="let field of fields" class="flex flex-col {{ field.type === 'file' ? 'md:col-span-2' : '' }}">
            <label class="text-sm font-medium text-gray-600 mb-1">{{ field.label }} <span *ngIf="field.require" class="text-red-500"> *</span></label>
            <input
                *ngIf="field.type === 'text' || field.type === 'number'"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="form-input w-full border rounded-2xl px-3 py-2 pr-10 font-medium border-gray-300 bg-white"
                [class.border-red-500]="showError(field.name)"
                [class.border-green-500]="!showError(field.name) && formAdd.get(field.name)?.value"
            />
            <select
                *ngIf="field.type === 'select'"
                [formControlName]="field.name"
                [placeholder]="field.placeholder"
                class="form-input w-full border rounded-2xl px-3 py-2 pr-10 font-medium border-gray-300 bg-white"
                [class.border-red-500]="showError(field.name)"
                [class.border-green-500]="!showError(field.name) && formAdd.get(field.name)?.value"
            >
                <option [ngValue]="null" class="text-gray-400" disabled>
                    {{ field.placeholder }}
                </option>
                <option *ngFor="let opt of field.options" [ngValue]="opt.value">{{ opt.label }}</option>
            </select>
            <div class="relative w-full flex items-center" *ngIf="field.type === 'date'">
                <input
                    matInput
                    [matDatepicker]="picker"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder"
                    class="form-input w-full border rounded-2xl px-3 py-2 pr-10 font-medium border-gray-300 bg-white"
                    [class.border-red-500]="showError(field.name)"
                    [class.border-green-500]="!showError(field.name) && formAdd.get(field.name)?.value"
                />
                <mat-datepicker-toggle matSuffix [for]="picker" class="absolute right-0 mr-2 text-gray-400"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <input
                *ngIf="field.type === 'readonly'"
                [value]="field.displayValue"
                readonly
                class="form-input w-full border rounded-2xl px-3 py-2 pr-10 font-medium border-gray-300 bg-gray-100 cursor-not-allowed"
            />
            <p *ngIf="showError(field.name)" class="mt-1 text-xs text-red-600">
                {{ getMsg(field.name, field.label) }}
            </p>
        </div>
    </form>
    <div dialog-footer class="col-span-1 md:col-span-2 flex justify-end space-x-3 pt-2 mt-4">
        <button type="button" (click)="close()" class="rounded-lg bg-gray-300 hover:bg-gray-400 px-4 py-2 text-sm font-medium">Cancel</button>
        <button
            type="submit"
            form="addFormPart"
            [disabled]="formAdd.invalid"
            class="rounded-lg bg-[#DEE33E] hover:bg-yellow-200 px-4 py-2 text-sm font-medium text-black disabled:opacity-60"
        >
            Save
        </button>
    </div>
</app-common-dialog>
