<section class="flex items-center h-full w-full p-16 dark:bg-gray-900 dark:text-gray-100">
	<div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
		<div class="max-w-md text-center">
			<p class="font-semibold text-4xl">{{ 'server.error' | transloco }}</p>
			<h2 class="mb-8 font-extrabold text-9xl text-primary">
				<span class="sr-only">{{ 'error' | transloco }}</span>404
			</h2>
			<p class="text-2xl font-semibold md:text-3xl">{{ 'file.or.directory.not.found' | transloco }}</p>
			<p class="mt-4 mb-8 dark:text-gray-400">{{ 'not.found.content' | transloco }}</p>
			<a rel="noopener noreferrer" href="/" class="border border-primary dark:bg-violet-400 dark:text-gray-900 font-semibold px-8 py-3 rounded-full text-primary">{{ 'back.to.homepage' | transloco }}</a>
		</div>
	</div>
</section>